:root {
    --mrg: 3vw; 
  }

* {
    padding: 0;
    margin: 0;
}

body {
    background-color:rgb(255, 0, 0);
    width: 100%;
    height: 100%;
}

#container {
    position: absolute;
    left: var(--mrg);
    top: var(--mrg);
    width: calc(100% - 2 * var(--mrg));
    height: calc(100% - 2 * var(--mrg));
    display: flex;
	flex-direction: column;
}

#sketch-canvas {
    flex: 1;
}

#sketch-title {
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400i;
    font-size: 5vh;
    text-align: right;
    padding-top: calc(var(--mrg) - 10px);
}